extends layout

block content
  h1= title
  p You are very welcome to #{title} that I am testing, so you are! Change H. Change I. Change J.
  p You are very welcome to #{title} that I am testing, so you are! So you are!
  p You are very welcome to #{title} that I am testing, so you are! So you are! Change F.

  p You are very welcome to #{title} that I am testing, so you are! So you are! Change F. Change G.

